@model SpinningWebApp.Models.CrudProductViewModel

@{
    Layout = "Layouts/_AdminPartial";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/adm_panel_assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/adm_panel_assets/css/styles.min.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">@Model.CategoryName</h5>
                    <div class="card">
                        <div class="card-body">
                            <form method="post" asp-action="AddProduct">
                                <div class="mb-3">
                                    <label for="mnfc" class="form-label">Производител(на английски)</label>
                                    <input type="text" class="form-control" id="mnfc" asp-for="ManufacturerName" />
                                </div>
                                <div class="mb-3">
                                    <label for="model" class="form-label">Модел</label>
                                    <input type="text" class="form-control" id="model" asp-for="Model">
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Цена(отделя се със запетая)</label>
                                    <input type="number" class="form-control" id="price" asp-for="Price">
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Налично количество</label>
                                    <input type="number" class="form-control" id="quantity" asp-for="AvailableAmount">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Описание</label>
                                    <input type="text" class="form-control" id="description" asp-for="Description">
                                </div>
                                <div class="mb-3">
                                    <label for="imageURL" class="form-label">URL адрес(линк) на основната снимка</label>
                                    <input type="text" class="form-control" id="imageURL" asp-for="MainImageURL">
                                </div>

                                <input type="hidden" asp-for="CategoryName" />

                                @if (Model.SpecificationViewModels != null && Model.SpecificationViewModels.Any())
                                {
                                    if (Model.CategoryName != "Аксесоари")
                                    {
                                        for (var i = 0; i < Model.SpecificationViewModels.Count; i++)
                                        {
                                            <input type="hidden" asp-for="@Model.SpecificationViewModels[i].SpecificationName">
                                            <div class="mb-3">
                                                <label for="" class="form-label">@Model.SpecificationViewModels[i].SpecificationName</label>
                                                <input type="text" class="form-control" id="" asp-for="@Model.SpecificationViewModels[i].SpecificationValue">
                                            </div>
                                        }
                                    }
                                }

                                <button type="submit" class="btn btn-primary">Създай</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/adm_panel_assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/adm_panel_assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adm_panel_assets/js/sidebarmenu.js"></script>
    <script src="/adm_panel_assets/js/app.min.js"></script>
    <script src="/adm_panel_assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>
