@using Microsoft.AspNetCore.Identity
@using SpinningWebApp.Models.Account
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="access-btn ml-0">
                <a href="javascript:void(0);" class="btn-search"><i class="nss-search1"></i></a>
                <a href="account.html" class="btn-user"><i class="nss-user1"></i></a>
                <a href="wishlist.html" class="btn-wishlist"><i class="nss-heart1"></i><span>1</span></a>
                <a href="cart.html" class="btn-cart"><i class="nss-shopping-cart1"></i><span>1</span></a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item ml-1">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
