@model LoginViewModel​

@{

    ViewData["Title"] = "Login";

}​

<h1>@ViewData["Title"]</h1>​

​

<div class="row">​

    <div class="col-md-4">​

        <form id="loginForm" method="post">​

            <h2>Влез</h2>​

            <hr />​

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>​

            ​

            <div class="form-floating">​

                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />​

                <label asp-for="Email">Имейл</label>​

                <span asp-validation-for="Email" class="text-danger"></span>​

            </div>​

            <div class="form-floating">​

                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />​

                <label asp-for="Password">Парола</label>​

                <span asp-validation-for="Password" class="text-danger"></span>​

            </div>​

           ​

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>​

        </form>​

    </div>
</div>
