@model IEnumerable<SpinningWebApp.Models.CategoryViewModel>

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from psdtowpwork.com/html/fisto/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:36 GMT -->
<head>
    <title>DLF - The best online fishing shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Start Include All CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" />
    <link rel="stylesheet" href="~/assets/css/fishto-icons.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Favicon Icon -->
</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <div class='circle'>
            <div class="circle-cutter"></div>
            <div class="circle-inner"></div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Hero Banner Start -->
    <section class="banner-02" data-bg-image="/assets/images/northern_pike_2.webp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-content">
                        <h5 class="sub-title animated">Fish Keeper <span></span></h5>
                        <h2 class="animated">Високо качество от доказани марки</h2>
                        <a asp-controller="Shop" asp-action="Index" class="fishto-btn animated">Към магазина<i class="nss-long-arrow-right1"></i></a>
                        <a href="contact.html" class="fishto-btn sb2 animated">За нас<i class="nss-long-arrow-right1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Category Start -->
    <section class="category-section-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cate-wrapper-2">
                        <div class="row">
                            @* <div class="col-lg-4 col-md-6">
                            <div class="cate-item-icon-2">
                            <a href="shop-1.html"><i class="fishto-rod1fishto"></i></a>
                            <a class="ct" href="shop-1.html">Fishing Reels</a>
                            <span>76 Item</span>
                            </div>
                            </div> *@

                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="cate-item-icon-2">
                                            <a asp-controller="Shop" asp-action="Index" asp-route-id="@item.Id"><i class="fishto-rod1fishto"></i></a>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-id="@item.Id" class="ct">@item.Name</a>
                                            <span>@item.ProductsCount Продукта</span>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category End -->
    <!-- About Start -->
    <section class="about-section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="ab-thumb">
                        <img src="assets/images/about2.png" alt="about">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="sub_title">About Us <span></span></div>
                    <h2 class="sec_titles">Heard of betta fish before</h2>
                    <p class="sec_desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at est id leo luctus gravida a in ipsum. Vivamus vel molestie nisipsum. Vivamus vel moles
                    </p>
                    <ul class="listing-item">
                        <li><i class="nss-check1"></i>Best Quality Product</li>
                        <li><i class="nss-check1"></i>Vestibulum libero</li>
                        <li><i class="nss-check1"></i>Quis velit adipiscing</li>
                        <li><i class="nss-check1"></i>Integer posuere pulvinar </li>
                    </ul>
                    <a href="about.html" class="fishto-btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
    <!-- Product Start -->
    <section class="product-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="sec_titles">New Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Product Tab Start -->
                    <div class="product-tab-area">
                        <!-- Tab Title Start -->
                        <ul class="product-tab-title nav nav-tabs text-center">
                            <li><a class="active" href="#all" data-toggle="tab">All</a></li>
                            <li><a href="#landing" data-toggle="tab">Landing Net</a></li>
                            <li><a href="#reels" data-toggle="tab" class="">Fishing Reels</a></li>
                            <li><a href="#baitcasting" data-toggle="tab" class="">Baitcasting</a></li>
                            <li><a href="#pliers" data-toggle="tab">Pliers</a></li>
                        </ul>
                        <!-- Tab Title End -->
                        <!-- Tab Content Start -->
                        <div class="tab-content">
                            <!-- All Tab -->
                            <div class="tab-pane fade show in active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/1.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Retractable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>40.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/2.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Reels</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>120.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/3.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Net Fishing Nets</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>10.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/4.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescoping Pole Handle</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>43.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/5.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescopic Fishing</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>67.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/6.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Foldable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/7.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Durable Nylon Mesh</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/8.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Safe Fish Catching</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>34.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- All Tab -->
                            <!-- Landing Tab -->
                            <div class="tab-pane fade in" id="landing" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/5.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescopic Fishing</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>67.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/6.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Foldable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/7.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Durable Nylon Mesh</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/8.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Safe Fish Catching</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>34.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Landing Tab -->
                            <!-- Reels Tab -->
                            <div class="tab-pane fade in" id="reels" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/1.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Retractable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>40.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/2.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Reels</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>120.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/3.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Net Fishing Nets</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>10.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/4.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescoping Pole Handle</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>43.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Reels Tab -->
                            <!-- Baitcasting Tab -->
                            <div class="tab-pane fade in" id="baitcasting" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/5.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescopic Fishing</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>67.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/6.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Foldable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/7.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Durable Nylon Mesh</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/8.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Safe Fish Catching</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>34.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Baitcasting Tab -->
                            <!-- Pliers Tab -->
                            <div class="tab-pane fade in" id="pliers" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/1.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Retractable</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>40.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/2.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Fishing Reels</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>120.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/3.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Net Fishing Nets</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix"><span class="price"><span><span>$</span>10.00</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="product-item-1 text-center">
                                            <div class="product-thumb">
                                                <img src="assets/images/product/4.png" alt="product">
                                                <div class="product-meta">
                                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                                </div>
                                                <a class="add-to-cart" href="cart.html"><i class="nss-shopping-cart1"></i>Add To Cart</a>
                                            </div>
                                            <div class="product-details">
                                                <h5><a href="single-product.html">Telescoping Pole Handle</a></h5>
                                                <div class="ratings">
                                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                                </div>
                                                <div class="product_price clearfix">
                                                    <span class="price">
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>
                                                            36.00
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pliers Tab -->

                        </div>
                    </div>
                    <!-- Product Tab Start -->
                </div>
            </div>
        </div>
    </section>
    <!-- Product End -->
    <!-- Discount Start -->
    <section class="discount-section-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="discount-product overlay-anim">
                        <div class="content-ds">
                            <h3>
                                <span>Hurry Up</span>
                                Deal of the Day
                            </h3>
                            <p>Lorem ipsum dolor sit amet, onsectetur<br> adipiscing elituis leo luctus</p>
                            <div class="product_price clearfix">
                                <span class="price">
                                    <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>340.00</span></del>
                                    <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>230.00</span></ins>
                                </span>
                            </div>
                            <a class="fishto-btn" href="single-product.html">Buy Now</a>
                        </div>
                        <div class="ds-thumb">
                            <img src="assets/images/d1.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="offser-text">
                        <h3>Sale<span>only today</span>50% off</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at est id leo luctus</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount End -->
    <!-- Hot Start -->
    <section class="hot-product-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="sec_titles">Best Item</h2>
                </div>
                <div class="col-md-6 text-right">
                    <a href="shop-1.html" class="fishto-btn">View all products <i class="nss-long-arrow-right1"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="popular-slider owl-carousel">
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/1.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Fishing Retractable</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>40.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/2.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Fishing Reels</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>120.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/3.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Net Fishing Nets</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>10.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/4.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Telescoping Pole Handle</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>43.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/5.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Telescopic Fishing</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>67.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/6.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Fishing Foldable</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/7.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Durable Nylon Mesh</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>65.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-item-2 text-center">
                            <div class="product-thumb">
                                <img src="assets/images/product/8.png" alt="product">
                            </div>
                            <div class="product-details">
                                <h5><a href="single-product.html">Safe Fish Catching</a></h5>
                                <div class="ratings">
                                    <i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><i class="icon_star_alt"></i><span>( 1 )</span>
                                </div>
                                <div class="product_price clearfix"><span class="price"><span><span>$</span>34.00</span></span></div>
                                <div class="product-meta">
                                    <a href="single-product.html" class="view"><i class="nss-eye1"></i></a>
                                    <a href="wishlist.html" class="whishlist"><i class="nss-heart1"></i></a>
                                    <a href="cart.html" class="cart"><i class="nss-shopping-cart1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hot End -->
    <!-- Testimonail Start -->
    <section class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="sec_titles">Testimonials</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-slider-two owl-carousel">
                        <div class="ts-item-two">
                            <h5>Frank D. Breaux</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            </p>
                        </div>
                        <div class="ts-item-two">
                            <h5>Michelle C. Rafferty</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            </p>
                        </div>
                        <div class="ts-item-two">
                            <h5>Christian C. Keller</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            </p>
                        </div>
                        <div class="ts-item-two">
                            <h5>Danny Ferreira</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            </p>
                        </div>
                        <div class="ts-item-two">
                            <h5>Araesent adipiscing</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonail End -->
    <!-- Mailchimp Start -->
    <section class="mailchimp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mailchimp-area">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="icon-box-1">
                                    <i class="nss-envelope2"></i>
                                    <h4>Subscribe Newsletter</h4>
                                    <p>Get latest updates and offers.</p>
                                </div>
                                <div class="newsletter-form">
                                    <form class="mc4wp-form" method="post">
                                        <input type="email" name="EMAIL" placeholder="Email" required="">
                                        <input type="submit" value="Subscribe">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <img src="assets/images/mail.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Mailchimp End -->
    <!-- Blog Start -->
    <section class="post-section ps-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sec_titles">Latest Posts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item-2">
                        <div class="bp-thumb">
                            <img src="assets/images/b1.jpg" alt="image">
                        </div>
                        <div class="bp-details">
                            <a href="single-blog.html" class="date"><span>calendar</span> 21 Dec. 2019</a>
                            <div class="bp-meta">
                                <p><span>user</span> By <a href="#">Admin</a></p><p><span>comment</span> <a href="#">2 Comments</a></p>
                            </div>
                            <h3><a href="single-blog.html">How To Pick the Best Spinnerbait Blade for Bass in Any Conditions</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item-2">
                        <div class="bp-thumb">
                            <img src="assets/images/b2.jpg" alt="image">
                        </div>
                        <div class="bp-details">
                            <a href="single-blog.html" class="date"><span>calendar</span> 21 Dec. 2019</a>
                            <div class="bp-meta">
                                <p><span>user</span> By <a href="#">Admin</a></p><p><span>comment</span> <a href="#">2 Comments</a></p>
                            </div>
                            <h3><a href="single-blog.html">21 of the Best Colleges for Hunters and Anglers</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item-2">
                        <div class="bp-thumb">
                            <img src="assets/images/b3.jpg" alt="image">
                        </div>
                        <div class="bp-details">
                            <a href="single-blog.html" class="date"><span>calendar</span> 21 Dec. 2019</a>
                            <div class="bp-meta">
                                <p><span>user</span> By <a href="#">Admin</a></p><p><span>comment</span> <a href="#">2 Comments</a></p>
                            </div>
                            <h3><a href="single-blog.html">The Obsessive Cult of Microfishing Life-Listers</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog End -->
    <!-- Client Start -->
    <section class="client-section cs-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-slider owl-carousel">
                        <a href="index-4.html"><img src="assets/images/logo/1.png" alt=""></a>
                        <a href="index-4.html"><img src="assets/images/logo/2.png" alt=""></a>
                        <a href="index-4.html"><img src="assets/images/logo/3.png" alt=""></a>
                        <a href="index-4.html"><img src="assets/images/logo/4.png" alt=""></a>
                        <a href="index-4.html"><img src="assets/images/logo/5.png" alt=""></a>
                        <a href="index-4.html"><img src="assets/images/logo/6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client End -->
    <!-- Back To Top -->
    <a href="#" id="back-to-top">
        <i class="arrow_carrot-2up"></i>
    </a>
    <!-- Back To Top -->
    <!-- Start Include All JS -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.appear.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <!-- End Include All JS -->

</body>

<!-- Mirrored from psdtowpwork.com/html/fisto/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:37 GMT -->
</html>