@model IEnumerable<SpinningWebApp.Models.CategoryViewModel>

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from psdtowpwork.com/html/fisto/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:36 GMT -->
<head>
    <title>DLF - The best online fishing shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Start Include All CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" />
    <link rel="stylesheet" href="~/assets/css/fishto-icons.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Favicon Icon -->
</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <div class='circle'>
            <div class="circle-cutter"></div>
            <div class="circle-inner"></div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Hero Banner Start -->
    <section class="banner-02" data-bg-image="/assets/images/northern_pike_2.webp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-content">
                        <h5 class="sub-title animated">DLF <span></span></h5>
                        <h2 class="animated">Високо качество от доказани марки</h2>
                        <a asp-controller="Shop" asp-action="Index2" class="fishto-btn animated">Към магазина<i class="nss-long-arrow-right1"></i></a>
                        <a href="contact.html" class="fishto-btn sb2 animated">За нас<i class="nss-long-arrow-right1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Category Start -->
    <section class="category-section-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cate-wrapper-2">
                        <div class="row">
                            @* <div class="col-lg-4 col-md-6">
                            <div class="cate-item-icon-2">
                            <a href="shop-1.html"><i class="fishto-rod1fishto"></i></a>
                            <a class="ct" href="shop-1.html">Fishing Reels</a>
                            <span>76 Item</span>
                            </div>
                            </div> *@

                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="cate-item-icon-2">
                                            <a asp-controller="Shop" asp-action="Index" asp-route-categoryName="@item.Name"><i class="fishto-rod1fishto"></i></a>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-categoryName="@item.Name" class="ct">@item.Name</a>
                                            <span>@item.ProductsCount Продукта</span>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category End -->
    <!-- About Start -->
    <section class="about-section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="ab-thumb">
                        <img src="assets/images/about2.png" alt="about">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="sub_title">About Us <span></span></div>
                    <h2 class="sec_titles">Heard of betta fish before</h2>
                    <p class="sec_desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at est id leo luctus gravida a in ipsum. Vivamus vel molestie nisipsum. Vivamus vel moles
                    </p>
                    <ul class="listing-item">
                        <li><i class="nss-check1"></i>Best Quality Product</li>
                        <li><i class="nss-check1"></i>Vestibulum libero</li>
                        <li><i class="nss-check1"></i>Quis velit adipiscing</li>
                        <li><i class="nss-check1"></i>Integer posuere pulvinar </li>
                    </ul>
                    <a href="about.html" class="fishto-btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
    <!-- Client Start -->
    <section class="client-section cs-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-slider owl-carousel">
                        <a asp-controller="Home" asp-action="Index"><img src="https://media.printables.com/media/prints/424507/images/3815860_0be709ab-010b-4bab-9474-4f5bc3971f08/thumbs/cover/800x800/jpg/shimano.webp" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSONYvTVxDHyHA7dOsAI9En70LbpqrWwBgl6U_BcFKe7A&s" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbN_7YSUawPwirRaolvcFSHqtXJ4BKjWfxF-9TSxmqdg&s" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFJB-WLQxKFvoWv6skWHxGvUi-OeFS_X2OBQjhmpV8ikA031dVwOUHOUqrbDFXLQ2N80&usqp=CAU" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://static.emarinehub.com/media/mageplaza/brand/jackson_logo1.jpg" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://jahimees.ee/12390-large_default/savage-gear-sg4-1000-fd.jpg" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://cdn.worldvectorlogo.com/logos/dam-1.svg" alt=""></a>
                        <a asp-controller="Home" asp-action="Index"><img src="https://bgfishing.org/image/catalog/brandlogos/logo_mepps.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client End -->
    <!-- Back To Top -->
    <a href="#" id="back-to-top">
        <i class="arrow_carrot-2up"></i>
    </a>
    <!-- Back To Top -->
    <!-- Start Include All JS -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.appear.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <!-- End Include All JS -->

</body>

<!-- Mirrored from psdtowpwork.com/html/fisto/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 08:57:37 GMT -->
</html>